.textLogo {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 105px;
    letter-spacing: -14px;
    
    width: 800px;
    height: 150px;
  
    color: #fff;
    text-shadow: 2px 2px 3px #000;
    background-color: #ff6600;

    text-align: center;
    margin: 10px auto 30px auto;
    /*padding: 15px auto;*/
	padding: 0px;
    -moz-box-shadow: 1px 1px 2px #000;
    -webkit-box-shadow: 1px 1px 2px #000;
    box-shadow: 1px 1px 2px #000;
}

	.textLogo a {
		text-decoration: none;
		color: #fff;
	}

	.emptySpan {
		position: relative;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

    .logoSpan1 {
        position:absolute;
        font-size: 72px;
        /*border: 1px solid blue;*/
        top: 32px;
        left:240px;
		height: 100px;
	}

    .logoSpan2 {
		padding-bottom: 0px;;
     }

    .logoSpan3 {
        margin-left: 2px;
    }

    .logoSpan4 {
        margin-left: -6px;
    }

    .logoSpan5 {
		margin-left: 2px;
        
    }

    .logoSpan6 {
        margin-left: 8px;
    }

    .logoSpan7 {
        margin-left: 3px;
    }

    .logoSpan8 {
        margin-left: -4px;
    }

    .logoSpan9 {
        
    }

    .logoSpan10 {
        margin-left: 0px;
    }

    .logoSpan11 {
        margin-left: -2px;
    }

    .logoSpan12 {
		
    }

    .logoSpan13 {
        margin-left: -18px;        
    }

    .logoSpan14 {
		margin-left: -8px;        
    }

    .logoSpan15 {
        font-size: 36px;
        margin-left: 15px;
    }

    .logoSpace {
        font-size: 60px;
     }
    }
