@CHARSET "ISO-8859-1";

{
    /* reset css */
    margin: 0%;
    padding: 0%;

}

html {
	
	display: block;
	background: #fff;
	
	font-family: 'Source Code Pro', sans-serif;
	
}


.headerDiv  {
	/***border: 1px solid black;***/
	text-align: center;
	
}

	.siteTitelLogo {
		display: none;
	}

	.logoText {
		/****************** Make pure css logo**************/
	}

	.logoDiv {
		background-color: #ff6600;

		width: 800px;
		height: 150px;

		margin: 10px auto 30px auto;

		webkit-border-radius: 15px 15px 15px 15px;
		moz-border-radius: 15px 15px 15px 15px;
		border-radius: 15px 15px 15px 15px;

		-moz-box-shadow: 1px 1px 2px #000;
		-webkit-box-shadow: 1px 1px 2px #000;
		box-shadow: 1px 1px 2px #000;


	}

	.homeButtonDiv {
		position: fixed;
		top: 10px;
		left: 10px;
	}
	

.content {
	height: 380px;
	margin-top: 0px;
	/*border: 1px solid green;*/
}

/********************************** Tile Div CSS NOT USED
	.tileDiv{
		text-align: center;
		margin: 30px 450px 50px 450px;
		width: 330px;
		display: block;
	}
	
	.tileDiv div{
		margin: 3px 3px 3px 3px;
		float: left;
		height: 150px;
		width: 150px;
		display:block;
		overflow:hidden;
	}

		.tile {
			position: relative;
		}
	
		#tile1{
			background-color: #71bcfd;
			
			-moz-box-shadow: 1px 1px 2px #000;
			-webkit-box-shadow: 1px 1px 2px #000;
			box-shadow: 1px 1px 2px #000;
		}

		#tile2{
			background-color: #2b4e9f;
			
			-moz-box-shadow: 1px 1px 2px #000;
			-webkit-box-shadow: 1px 1px 2px #000;
			box-shadow: 1px 1px 2px #000;
		}
		
		#tile3{
			background-color: #20cc28;

			-moz-box-shadow: 1px 1px 2px #000;
			-webkit-box-shadow: 1px 1px 2px #000;
			box-shadow: 1px 1px 2px #000;
		}

		#tile4{
			background-color: #11772d;
		
			-moz-box-shadow: 1px 1px 2px #000;
			-webkit-box-shadow: 1px 1px 2px #000;
			box-shadow: 1px 1px 2px #000;
		}
		
				.tileDiv div a {
					width: 100%;
					height: 100%;
					line-height: 150px;
					color: #fff;
					font-size: 34px;
					text-decoration: none;
				}

			
					.tileDiv div a:active {
						color: #000;					
					}

				.tileDiv div span {
					position:absolute; 
					width:100%;
				    height:100%;
					top:0;
					left: 0;

					z-index: 1;
				}

					#tile1 span {
						webkit-border-radius: 15px 0px 0px 0px;
						moz-border-radius: 15px 0px 0px 0px;
						border-radius: 15px 0px 0px 0px;
					}

					#tile2 span {
						webkit-border-radius: 0px 15px 0px 0px;
						moz-border-radius: 0px 15px 0px 0px;
						border-radius: 0px 15px 0px 0px;
					}
			
					#tile3 span {
						webkit-border-radius: 0px 0px 15px 0px;
						moz-border-radius: 0px 0px 15px 0px;
						border-radius: 0px 0px 15px 0px;
					}
	
					#tile4 span {
						webkit-border-radius: 0px 0px 0px 15px;
						moz-border-radius: 0px 0px 0px 15px;
						border-radius: 0px 0px 0px 15px;
					}


	*****************************************/
		
.navDiv {

	/** border: 1px solid red;**/
	position: fixed;		
	width: 820px;
	height: 125px;
	top: 550px;
	left: 241px;
	margin: 40px auto 20px auto;
	padding: 0px 0px;
	display: block;

}

	#contactNavDiv.navDiv {
		left: 237px;
	}

	.navBar {

		list-style: none;
		
		margin: 0px auto;
		padding: 0px;

	}

		.navBar li {
				
			width: 200px;
			height: 80px;
			float:left;

		
/*			border: 4px solid #c0c0c0;
			border-top: 4px solid white;
			border-bottom: none;
*/			border: none;
	}

		#l1 {
			border-right: none;
		/*	webkit-border-radius: 15px 0px 0px 15px;
			moz-border-radius: 15px 0px 0px 15px;
			border-radius: 15px 0px 0px 15px;
		*/
		}

		#l2 {
			border-left: none;
			border-right: none;
		}

		#l3 {
			border-left: none;
			border-right: none;
		}

		#l4 {
			border-left: none;
			border-right: none;
		/*	webkit-border-radius: 0px 15px 15px 0px;
			moz-border-radius: 0px 15px 15px 0px;
			border-radius: 0px 15px 15px 0px;
		*/
		}
			

		.navBar a {

			width: 200px;
			height: 80px;
			line-height: 80px;
			
			display: block;
			margin: /*12*/ 0px auto;
			margin-left: -1.5px;
			margin-top: -1.5px;	

			border: 2px solid white;
			
			font-size: 24px;
			text-align: center;
			text-decoration: none;
			color: #fff;
			text-shadow: 1px 1px 2px #000;
			
		}

			.navBar a:active {
				color: #000;					
			}

	
			#homeNavButton {
				background-color: #ff6600;
			/*	webkit-border-radius: 15px 0px 0px 15px;
				moz-border-radius: 15px 0px 0px 15px;
				border-radius: 15px 0px 0px 15px;
			*/

				-moz-box-shadow: 1px 1px 2px #000;
				-webkit-box-shadow: 1px 1px 2px #000;
				box-shadow: 1px 1px 2px #000;

				border: none;
			}

			#codeNavButton {
				background-color:/* #71bcfd*/#6699ff;
			/*	webkit-border-radius: 15px 0px 0px 15px;
				moz-border-radius: 15px 0px 0px 15px;
				border-radius: 15px 0px 0px 15px;
			*/
				-moz-box-shadow: 1px 1px 2px #000;
				-webkit-box-shadow: 1px 1px 2px #000;
				box-shadow: 1px 1px 2px #000;
				
				border: none;
			}

			#designNavButton {
				background-color: #2b4e9f;
				-moz-box-shadow: 1px 1px 2px #000;
				-webkit-box-shadow: 1px 1px 2px #000;
				box-shadow: 1px 1px 2px #000;

				border: none;
			}

			#aboutNavButton {
				background-color: #20cc28;
				-moz-box-shadow: 1px 1px 2px #000;
				-webkit-box-shadow: 1px 1px 2px #000;
				box-shadow: 1px 1px 2px #000;

				border: none;
			}

				#aboutNavButtonLAST {
					background-color: #20cc28;
			/*		webkit-border-radius: 0px 15px 15px 0px;
					moz-border-radius: 0px 15px 15px 0px;
					border-radius: 0px 15px 15px 0px;
			*/
					-moz-box-shadow: 1px 1px 2px #000;
					-webkit-box-shadow: 1px 1px 2px #000;
					box-shadow: 1px 1px 2px #000;

					border: none;
				}

			#contactNavButton {
				background-color: #11772d;
			/*	webkit-border-radius: 0px 15px 15px 0px;
				moz-border-radius: 0px 15px 15px 0px;
				border-radius: 0px 15px 15px 0px;
			*/		
				-moz-box-shadow: 1px 1px 2px #000;
				-webkit-box-shadow: 1px 1px 2px #000;
				box-shadow: 1px 1px 2px #000;

				border: none;
			}



/*********		Page Main Content	************/

.content .textDiv {
	/**	border: 1px solid red;***/

	text-align: center;
	margin: 30px auto;
	padding: 10px 0px;
	width: 800px;
	display: block;

	/**text-shadow: 0.5px 0.5px 1px #fff;**/

/*	webkit-border-radius: 15px;
	moz-border-radius: 15px;
	border-radius: 15px;
*/
	-moz-box-shadow: 1px 1px 2px #000;
	-webkit-box-shadow: 1px 1px 2px #000;
	box-shadow: 1px 1px 2px #000;

	background-color: #EBEBEB;
	color: #000;
	text-shadow: 1px 1px 2px #fff;
}

	#home h2 {
		background-color: #666666;
		color: #fff;
		text-shadow: 1px 1px 2px #000;
/*	font-family: 'Waiting for the Sunrise', cursive;
		font-weight: 200;
		font-size: 60px;
		line-height: 60px;
			
	*	width: 350px;
		height: 120px;
	*

		padding: 0px;
		margin: 0 20px;
		text-align: left;

		*-moz-box-shadow: 1px 1px 2px #000;
		-webkit-box-shadow: 1px 1px 2px #000;
		box-shadow: 1px 1px 2px #000;
		*/
	}

	#code h2{
		background-color:/* #71bcfd*/#6699ff;
		color: #fff;
		text-shadow: 1px 1px 2px #000;
	}

	#design h2{
		background-color: #2b4e9f;
		color: #fff;
		text-shadow: 1px 1px 2px #000;
	}

/*		#design .textDivP, #design .textDivHeader {
			color: #fff;
			text-shadow: 1px 1px 2px #000;
		}*/

	#about h2{
		background-color: #20cc28;
		color: #fff;
		text-shadow: 1px 1px 2px #000;
		}
	
/*		#about .textDivHeader {
			font-size: 22px;
		}*/

		#about .textDivP {
			font-size: 18px;
		}	
		
	#contact h2 {
		background-color: #11772d;
		color: #fff;
		text-shadow: 1px 1px 2px #000;
	}

/*		#contact .textDivP, #contact .textDivHeader {
			color: #fff;
			text-shadow: 1px 1px 2px #000;
		}
*/
.textDivP {
		font-size: 20px;
		padding: 0px  10px;
/*		text-shadow: 1px 1px 1px #979797;*/
	}

	.textDiv h2 {
		font-size: 32px;
/*		text-shadow: 1px 1px 1px #979797;*/
		padding-top: 0px;
		margin: 5px auto 5px auto;
		
		-moz-box-shadow: 0px 1px 2px #000;
		-webkit-box-shadow: 0px 1px 2px #000;
		box-shadow: 0px 1px 2px #000;
	}
	.textDiv .textDivP a {
		text-decoration: none;
		color: #ff6600;
		text-shadow: 1px 1px 2px #fff;
	}

.footer {
	/*border: 1px solid black;*/
	display: block;
	height: 100px;
}


/****************  Contact.php  **********************/

#table_contact_info {
	text-align: center;
	color: #000;
	text-shadow: 1px 1px 2px #fff;

}

	.twitter {
		line-height: 34px;
		border: 1px solid black;
	}
