/*
Contact Form by html-form-guide.com
You can customize all the aspects of the form in this style sheet
All the style elements use form id selector(notice the #contactus). So, including this
stylesheet does not affect the other elements at all!
*/


#contactus fieldset
{
    margin: 10px auto;
    width:320px;
    padding:20px;
    border: 1px solid #fff;

	text-align: left;
/*
    -moz-box-shadow: 1px 1px 2px #000;
    -webkit-box-shadow: 1px 1px 2px #000;
	box-shadow: 1px 1px 2px #000;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;   */
}

#contactus legend, h2
{
  /* font-size: 1em;
   font-weight:bold;*/
	color: #000;
	text-shadow: 1px 1px 2px #fff;
}

/*    #contactus legend {

        text-shadow: 3px 4px 5px black;
    }
*/

#contactus label
{
   /* font-size:0.8em;
    font-weight: bold;*/
    color: #000;
	text-shadow: 1px 1px 2px #fff;
/*    text-shadow: 3px 4px 5px black;*/
   
}

#contactus input[type="text"],textarea
{
  padding : 3px; 
  border : 1px solid #999;
  /*  -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;*/

}

#contactus input[type="text"]
{
  height:18px;
  width:220px;
  
  /*
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
   border-radius: 5px;   
  */
}

#contactus #scaptcha
{
  width:60px;
  height:18px;
}

#contactus input[type="submit"]
{
   width:100px;
   height:30px;
   padding-left:0px;
   /*
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
   border-radius: 5px;   */
}

#contactus textarea
{
  height:120px;
  width:310px;
  /*
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
   border-radius: 8px;  
  */
}

#contactus input[type="text"]:focus,textarea:focus
{
  color : #009;
  border : 1px solid #990000;
  background-color : #ffff99;
  font-weight:bold;
}

#contactus .container
{
   margin-top:8px;
   margin-bottom: 10px;
}

#contactus .error
{
   font-size: 0.7em;
   color: #900;
   background-color : #ffff00;
}

#contactus fieldset#antispam
{
   padding:2px;
   border-top:1px solid #EEE;
   border-left:0;
   border-right:0;
   border-bottom:0;
   width:350px;
}

#contactus fieldset#antispam legend
{
   font-size: 0.8em;
   font-weight:bold;
   color:#333;   
}

#contactus .short_explanation
{
   font-size: 0.6em;
   color: #A1A1A4;
}

/* spam_trap: This input is hidden. This is here to trick the spam bots*/
#contactus .spmhidip
{
   display:none;
   width:10px;
   height:3px;
}
#fg_crdiv
{
   font-size: 0.3em;
   opacity: .2;
   -moz-opacity: .2;
   filter: alpha(opacity=20);   
}
#fg_crdiv p
{
    display:none;
}
